<div class="row  text-center">
	<div class="col-xs-12">
		<h3>Reglas</h3>
		<p>A continuacion te explico las reglas que nos ayudar&aacute;n a jugar:</p>
		<img src="images/piedra-papel-tijera-lagarto-spock.png" class="img-responsive img-center" alt="Piedra Papel Tijera Lagarto Spock">
		<br>
	</div>
	<div class="col-xs-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">
				Tijeras > cortan > Papel
			</li>
			<li class="list-group-item list-group-item-info">
				Papel > tapa > Piedra
			</li>
			<li class="list-group-item list-group-item-info">
				Piedra > aplasta > Lagarto
			</li>
			<li class="list-group-item list-group-item-info">
				Lagarto > envenena > Spock
			</li>
			<li class="list-group-item list-group-item-info">
				Spock  > rompe > Tijeras
			</li>
		</ul>

	</div>
	<div class="col-xs-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">
				Tijeras > decapita > Lagarto
			</li>
			<li class="list-group-item list-group-item-info">
				Papel > desautoriza > Spock
			</li>
			<li class="list-group-item list-group-item-info">
				Piedra > aplasta > Tijeras
			</li>
			<li class="list-group-item list-group-item-info">
				Lagarto > devora > Papel
			</li>			
			<li class="list-group-item list-group-item-info">
				Spock > vaporiza > Piedra
			</li>
			
		</ul>
	</div>
</div>